header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: solid black 2px;
}

.logo {
  height: 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}
